* {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
